@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}
/*pagina toda*/
body {
    max-width: 100%;
    width: 100%;
    height: 100vh;
    background-color: #102226;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/*cabeçalho*/
header {
    position: absolute;
    height: 11%;
    width: 100%;
    position: fixed;
    align-items: center;
    font-family: 'poppins';
    justify-content: space-between;
    color: white;
    display: flex;
    background: #400067;
}
/*cabeçalho titulo*/
header h1 {
    color: #00FF75;
    margin-left: 220px;
}

header h2 {
    font-size: 16px;
    margin-right: 5px;
    font-weight: 400;
}
.undefined {
    margin-left: 15%;
    width: 15%;
}
/*botao para pc*/
.div_pc {
    display: flex;
    align-items: center;
    margin-right: -20%;
}
/* botão para browser */
.div_browser {
    display: flex;
    align-items: center;
    margin-right: -20%;
}
/* botão para all */
.all {
    margin-right: -23%;
}
/* botao para ir aos favoritos */
.fav {
    font-weight: 600;
    margin-right: 5%;
}
/* side bar */
.menu_lateral {
    margin-top: 68px;
    position: fixed;
    font-family: 'poppins';
    display: flex;
    align-items: center;
    height: 89%;
    width: 15%;
    flex-direction: column;
    border: 2px solid #8258A0;
    background-size: cover;
    background-color: #215966;
}
/* botao home da side bar */
.home {
    cursor: pointer;
    color: #00FF75;
    box-shadow: 0 0 1em #00FF75;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #400067;
    background-color: #400067;
    border-radius: 50px;
    height: 50%;
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.menu_lateral img {
    width: 30px;
}
/* links da side bar */
.menu_lateral ul{
    list-style: none;
}
.menu_lateral ul li{
    cursor: pointer;
    transition: background .3s;
    display: block;
    padding: 10px 15px ;
    font-weight: 500;
    font-size: 16px;
}
.menu_lateral ul li:hover{
    background-color: #542377;
    width: 190px;
}

/* centro da pagina */
.main_page{
    position:absolute;
    margin-left: 10%;
    width: 100%;
    height: 100vh;
}
/* baner do jogo em destaque */
.baner{
    position: relative;
    margin-top: 50%; 
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: -5%;

    
    
} 
.baner img{
    width: 780px;
    height: 280px;
    border-radius: 30px;

}
/* primeiro jogo */
.card1 img{
    border-radius: 30px;
    
}
/* segundo jogo */
.card2{
    margin-left: -55%;
    margin-top: 5%;
    display: flex;
    align-items: center;
    flex-direction: column;
  
}
.card2 img{
    border-radius: 30px;
    width: 290px;
    height: 190px;
}
/* terceiro jogo */
.card3{
    margin-left: -5%;
    margin-top:-16%;
    display: flex;
    align-items: center;
    flex-direction: column;

}
.card3 img{
    border-radius: 30px;
    width: 290px;
    height: 190px;
}
/* quarto jogo */
.card4{
    margin-left: 45%;
    margin-top: -16%;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
.card4 img{
    border-radius: 30px;
    width: 290px;
    height: 190px;
}
/* quinto jogo */
.card5{
    margin-left: -55%;
    margin-top: 5%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.card5 img{
    border-radius: 30px;
    width: 290px;
    height: 190px;
}
/* sexto jogo */
.card6{
    margin-left: -5%;
    margin-top:-16%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.card6 img{
    border-radius: 30px;
    width: 290px;
    height: 190px;
}
/* setimo jogo */
.card7{
    margin-left: 45%;
    margin-top: -16%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.card7 img{
    border-radius: 30px;
    width: 290px;
    height: 190px;
}
/* oitavo jogo */
.card8{
    margin-left: -55%;
    margin-top: 5%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.card8 img{
    border-radius: 30px;
    width: 290px;
    height: 190px;
}
/* nono jogo */
.card9{
    margin-left: -5%;
    margin-top:-16%;
    display: flex;
    align-items: center;
    flex-direction: column;
} 
.card9 img{
    border-radius: 30px;
    width: 290px;
    height: 190px;
}
/* decimo jogo */
.card10{
    margin-left: 45%;
    margin-top:-16%;
    display: flex;
    align-items: center;
    flex-direction: column;
} 
.card10 img{
    border-radius: 30px;
    width: 290px;
    height: 190px;
}
/* botao para carregar mais jogos(NÃO HABILITADO) */

.carregar{
    font-family: 'poppins';
    text-decoration: none;
    margin-top: 120px;
    margin-left:520px;
}
.carregar a{
    text-decoration: none;
    color: white;
}
/* titulo dos jogos */
.card1_text{
    color: #00FF75;
    font-family: 'poppins';
    margin-top: 20px;
}
.main_page_div{

    color: #00FF75;
    font-family: 'poppins';
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
} 
