@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

/*pagina toda*/

body {
    /* max-width: 100%; */
    width: 100%;
    display: flex;
    height: 100vh;
    flex-direction: column;
    background-color: #102226;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*cabeçalho*/

header {
    position: fixed;
    height: 12%;
    width: 100%;
    align-items: center;
    font-family: "poppins";
    justify-content: space-between;
    color: white;
    display: flex;
    background: #400067;
    z-index: 3;

}

/*cabeçalho titulo*/

header h1 {
    color: #00ff75;
    margin-left: 220px;
}

section {
    display: flex;
    flex-direction: row;
}

header h2 {
    font-size: 16px;
    margin-right: 5px;
    font-weight: 400;
}

.undefined {
    margin-left: 15%;
    width: 10%;
}

/*botao para pc*/

.div_pc {
    display: flex;
    align-items: center;
    margin-right: -20%;
}


.div_pc:hover {
    cursor: pointer;
    background-color: #d1b4e3;
    padding: 10px;
    border-radius: 10px;
    color: black;
}

/* botão para browser */

.div_browser {
    display: flex;
    align-items: center;
    margin-right: -20%;
}


.div_browser:hover {
    cursor: pointer;
    background-color: #d1b4e3;
    padding: 10px;
    border-radius: 10px;
    color: black;
}

/* botão para all */

.all {
    margin-right: -23%;
}

.all:hover {
    cursor: pointer;
    background-color: #d1b4e3;
    padding: 10px;
    border-radius: 10px;
    color: black;
}


/* botao para ir aos favoritos */

.fav {
    font-weight: 600;
    margin-right: 5%;
}

.balaocentro {
    position: relative;
    margin: 2%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    height: 260px;
    border-radius: 20px;
    display: none;
}

/* cria estrela ao passar o cursor do mouse */

.balaocentro .estrela:after {
    bottom: 63px;
    right: 150px;
    content: '\2605';
    color: yellow;
    position: relative;
    font-size: 3.2rem;
    z-index: 999;
}

/* img {
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

/* .NomeGame {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Poppins';
} */

/* .Modelo1 {
    display: flex;
    flex-direction: row;
    gap: 150px;
} */

/* estilização do jogo em destaque */

.BalaoPrincipal {
    position: relative;
    width: 800px;
    height: 400px;
    margin-top: 15%;
    display: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
}

.gamePrincipal {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    background-repeat: no-repeat;
}

.paibalaomenor {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.teste {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}

.botaoHumilde {
    width: 10%;
    height: 30px;
    background: rgba(64, 0, 103, 0.58);
    box-shadow: 50px 4px 80px #1E3C1E;
    border-radius: 30px;
    color: white;
    font-family: 'poppins';
}

.More {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: 8%; */
    margin-top: 2%;
}

.titulos {
    display: flex;
    flex-direction: row;
    margin-top: 65%;
    color: #90EE90;
    font-family: 'Poppins';
    font-size: 11px;
}

.favorites {
    display: flex;
    margin-left: 10%;
    margin-top: 8%;
}

.favorites h1 {
    color: #ffffff;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
}

hr {
    margin-left: 8%;
    margin-top: 1%;
    width: 80%;
    mix-blend-mode: lighten;
    border: 1px solid #3e3e3e;
}

.Games1 {
    background-color: #250049;
    width: 1074px;
    height: 140px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Poppins";
    flex-grow: 2;
}

.games {
    display: none;
    margin-top: 3%;
    flex-direction: column;
    align-items: center;
    gap: 150px;
}

.FavImg {
    height: 120px;
    border-radius: 20px;
}

button {
    width: 130px;
    height: 50px;
    border-radius: 20px;
    color: #90ee90;
    background-color: #4a0095;
    border: none;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

span {
    color: #90ee90;
    font-weight: 500;
}

.G-elements {
    display: flex;
    flex-games: 1;
    gap: 50px;
}

/* .Games {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5%;
    margin-top: 20%;
} */

/* .Conteudos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 15%;
    margin-top: 10%;
} */

/* botao home da side bar */

.menu_lateral {
    position: fixed;
    height: 91.5%;
    width: 5%;
    top: 9.1%;
    padding-top: 5%;
    background: #215966;
    font-family: 'poppins';
    box-shadow: 5px 0 0 #8258A0;
    border-left: 2px solid #215966;
    overflow-x: hidden;
    transition: 0.5s;
}

.menu_lateral:hover {
    width: 12%;
}

.menu_lateral ul {
    width: 100%;
    padding-left: 9px;
    padding-top: 40px;
}

.menu_lateral ul li {
    position: relative;
    list-style: none;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

}

.menu_lateral ul li a {
    position: relative;
    display: flex;
    width: 100%;
    text-decoration: none;
    color: white;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.menu_lateral ul li .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    text-align: center;
    line-height: 70px;
}

.menu_lateral ul li .icon ion-icon {
    position: relative;
    font-size: 1.5rem;
    z-index: 1;
}

.menu_lateral ul li a .menu-item {
    position: relative;
    display: block;
    padding-left: 10px;
    height: 60px;
    line-height: 60px;
    white-space: nowrap;
}

.menu_lateral ul li .active {
    background: #8258A0;
}


.divpaifavo {
    display: flex;
    align-items: center;
}

.fivpaifavo img {
    width: 365;
    height: 306;
}

.menu_lateral {
    position: fixed;
    height: 91.5%;
    width: 5%;
    top: 9.1%;
    background: #215966;
    font-family: "poppins";
    box-shadow: 5px 0 0 #8258a0;
    border-left: 2px solid #215966;
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 2;
}

.menu_lateral:hover {
    width: 12%;
}

.menu_lateral ul {
    width: 100%;
    padding-left: 9px;
    padding-top: 40px;
}

.card3 img {
    border-radius: 30px;
    width: 290px;
    height: 190px;
} */


.carregar {
    font-family: "poppins";
    text-decoration: none;
    margin-top: 120px;
    margin-left: 520px;
}

.carregar a {
    text-decoration: none;
    color: white;
}


/* titulo dos jogos */

.card1_text {
    color: #00ff75;
    font-family: "poppins";
    margin-top: 20px;
}

.main_page_div {
    color: #00ff75;
    font-family: "poppins";
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card8 img {
    border-radius: 30px;
    width: 290px;
    height: 190px;
}


.More {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: 8%; */
    margin-top: 2%;
}

.titulos {
    display: flex;
    flex-direction: row;
    margin-top: 60%;
    color: #90ee90;
    font-family: "Poppins";
    font-size: 11px;
}

.Favoritar {
    position: absolute;
    margin-top: 8.25%;
    margin-right: 9.5%;
}
